# Python
*.pyc
__pycache__
.coverage
*.egg-info

# Web
node_modules
config.local.*
web/public/data
web/dist
web/tsconfig.tsbuildinfo

# Junk
.nfs*
.DS_Store
.notes

# Data
data

# pixi environments
.pixi

# AI assistants
CLAUDE.md
.claude
