# Python
*.pyc
__pycache__
.coverage
*.egg-info

# Junk
.nfs*
.DS_Store
.notes

# Data
data
.zarrcade

# Zarrcade databases
*.db

# Zarrcade settings
certs
*.env
settings*.yaml


# pixi environments
.pixi
*.egg-info
