# Python
*.pyc
__pycache__
.coverage
*.egg-info

# Web
node_modules
config.local.*
web/public/data

# Junk
.nfs*
.DS_Store
.notes

# Data
data
.zarrcade*
static/ext

# Zarrcade databases
*.db

# Zarrcade settings
certs
*.env
settings*.yaml

# pixi environments
.pixi
*.egg-info

# AI assistants
CLAUDE.md
.claude
