services:

    zarrcade:
        image: ghcr.io/janeliascicomp/zarrcade:1.9.0
        container_name: zarrcade
        restart: unless-stopped
        ports:
          - 8000
        volumes:
          - ${CONFIG_FILE}:/app/zarrcade/settings.yaml
          - ${STATIC_EXT_DIR}:/app/zarrcade/static/ext
          - ${DB_DIR}:/db:rw,shared

    nginx:
        image: nginx
        depends_on:
          - zarrcade
        ports:
          - 8443:443
        restart: unless-stopped
        volumes:
          - ./nginx.conf:/etc/nginx/nginx.conf:ro
          - ${CERT_FILE}:/certs/default.crt:ro
          - ${KEY_FILE}:/certs/default.key:ro

