# Path to the Zarrcade config YAML
CONFIG_FILE=/opt/zarrcade/settings.yaml

# Data directory containing your data (may be empty if using cloud storage)
#DATA_DIR=/opt/zarrcade/data

# Location of database files to be mounted RW, if using file access.
DB_DIR=/opt/zarrcade/db

# TLS certificate for Nginx
CERT_FILE=$PWD/certs/cert.crt
KEY_FILE=$PWD/certs/cert.key
