# Path to the Zarrcade config YAML
CONFIG_FILE=/opt/zarrcade/settings.yaml

# Directory to mount on static/ext to allow additional assets to be served
STATIC_EXT_DIR=/opt/zarrcade/ext

# Location of database files to be mounted RW, if using file access.
DB_DIR=/opt/zarrcade/db

# TLS certificate for Nginx
CERT_FILE=$PWD/certs/cert.crt
KEY_FILE=$PWD/certs/cert.key
