# Data directory containing your OME-Zarr images
DATA_DIR=/path/to/data

# Base URL for the web service. Must match the TLS cetificate.
BASE_URL=https://DOMAIN

# URL for database
DB_URL=sqlite:////db/sqlite.db

# Location of database files to be mounted RW, if using file access.
DB_DIR=/db

# TLS certificate
CERT_FILE=$PWD/certs/cert.crt
KEY_FILE=$PWD/certs/cert.key

