<!DOCTYPE html>
<html>
{% include "head.html" %}
<body>
{% include "topbar.html" %}

<section class="breadcrumbs">
    <a href="{{ url_for('index') }}">Index</a>
    <span class="separator"> &gt; </span>
    <span class="current">{{ collection_settings.label }}</span>
</section>

<section class="collection-header">   
    <h1>Searching for images in collection: {{ collection_settings.label }}</h1>
    <p>
        <a class="" href="{{ collection_name }}/data.csv">Download metadata</a> as CSV.
        <a class="" href="{{ get_bff_url(collection_name) }}" target="_blank" rel="noopener noreferrer">View collection in BioFile Finder</a>
    </p>
</section>

<section>
{% include "form.html" %}
</section>

<section>
{% if dbimages %}

<div class="result-details">
    Showing {{ pagination.start_num }} - {{ pagination.end_num }} 
    of {{ pagination.total_count }} images matching selected criteria.
</div>

{% include "pagination.html" %}
<div>
    <div class="gallery">
    {% for dbimage in dbimages %}
        <div class="container">
            <a href="{{ url_for('details', collection_name=dbimage.collection.name, image_id=dbimage.image_path) }}" class="image-link">
            {% if not dbimage.image_metadata.thumbnail_path %}
                <img src="{{  url_for('static', path='zarr.jpg') }}" alt="Default thumbnail" class="thumbnail" />
            {% else %}
                <img src="{{ get_aux_path_url(dbimage, dbimage.image_metadata.thumbnail_path, request) }}" alt="Image thumbnail" class="thumbnail" />
            {% endif %}
                <div class="label">{{ get_title(dbimage) | safe }}</div>
            </a>
            <div class="overlay">

                <div class="buttons">
                    <a href="#" onclick="copyTextToClipboard(this, '{{ get_data_url(dbimage) }}')" class="icon" >
                        <div class="tooltip">
                            <img src="{{ url_for('static', path='copy-link-64.png') }}" alt="Copy link icon">
                            <span class="tooltiptext">Copy image data URL</span>
                        </div>
                    </a>
                    {% for viewer in get_viewers(dbimage) %}
                    <a href="{{ get_viewer_url(dbimage, viewer) }}" class="icon" target="_blank" rel="noopener noreferrer">
                        <div class="tooltip">
                            <img src="{{ url_for('static', path=viewer.icon) }}" alt="{{ viewer.name }} icon">
                            <span class="tooltiptext">View in {{ viewer.name }}</span>
                        </div>
                    </a>
                    {% endfor %}
                </div>

            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% else %}
<div class="result-details">
    No images found for the specified criteria. 
    <a href="#" onclick="resetForm()">Click here</a> to show all images.
</div>
{% endif %}
</section>

</body>
</html>