<!DOCTYPE html>
<html>
{% include "head.html" %}
<body>

{% include "topbar.html" %}

{% set image = metaimage.image %}

<section>
    <h2>{{ get_title(metaimage) | safe }}</h2>
</section>

<section>
Copy data link: 
<a href="#" onclick="copyTextToClipboard(this, '{{ get_image_data_url(image) }}')" class="icon">
    <div class="tooltip">
        <img src="{{ url_for('static', path='copy-link-64.png') }}" alt="Copy link icon">
        <span class="tooltiptext">Copy image data URL</span>
    </div>
</a>
</section>

<section>
Open with: 
{% for viewer in image.get_compatible_viewers() %}
    <a href="{{ get_viewer_url(image, viewer) }}" class="icon" target="_blank" rel="noopener noreferrer">
        <div class="tooltip">
            <img src="{{ url_for('static', path=viewer.icon) }}" alt="{{ viewer.name }} icon">
            <span class="tooltiptext">View in {{ viewer.name }}</span>
        </div>
    </a>
{% endfor %}
</section>

<section>

<div class="content">
    {% if not metaimage.aux_image_path %}
    <img src="{{  url_for('static', path='zarr.jpg') }}" alt="Default thumbnail" class="image" />
    {% else %}
    <img src="{{ get_relative_path_url(metaimage.aux_image_path) }}" alt="Image thumbnail" class="image" />
    {% endif %}

    <table class="attrs">
        <colgroup>
            <col style="width: 12em;">
            <col style="width: auto;">
        </colgroup>
        <tr><td>Axes:</td><td><span class="data">{{ image.axes_order.upper() }}</span></td></tr>
        <tr><td>Chunk size:</td><td><span class="data">{{ image.chunk_size }}</span></td></tr>
        <tr><td>Dimensions (voxels):</td><td><span class="data">{{ image.dimensions_voxels }}</span></td></tr>
        <tr><td>Dimensions:</td><td><span class="data">{{ image.dimensions }}</span></td></tr>
        <tr><td>Voxel sizes:</td><td><span class="data">{{ image.voxel_sizes }}</span></td></tr>
        <tr><td>Compression:</td><td><span class="data">{{ image.compression }}</span></td></tr>
        {% for attr in metaimage.metadata.keys() %}
            {% if attr not in settings.details.hide_columns %}
            <tr><td>{{ attr }}:</td><td>{{ metaimage.metadata[attr] | safe }}</td></tr>
            {% endif %}
        {% endfor %}
    </table>
</div>

</section>

</body>
</html>