<div class="footer">
    <div class="footer-section">
        <a href="https://www.hhmi.org/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy Policy & Cookie Notice</a>
    </div>
    <div class="footer-section">
        <div class="theme-toggle">
            <span class="theme-toggle-label">Dark Mode</span>
            <label class="theme-switch">
                <input type="checkbox" id="theme-toggle" onchange="toggleTheme()">
                <span class="slider"></span>
            </label>
        </div>
    </div>
    <div class="footer-section">
        <span>Code</span>
        <a href="https://github.com/JaneliaSciComp/zarrcade" target="_blank" rel="noopener noreferrer" style="margin-left: 8px;"><i class="fab fa-github"></i></a>
    </div>
    <div class="footer-section">
        <span>© {{ current_year }} {{ settings.copyright_holder }}</span>
    </div>
</div>