<!DOCTYPE html>
<html>
<head>
    <title>NGFF Browse</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <section>
        <h2>NGFF Browse: {{ base_url }}</h2>
    </section>

    <div class="container">
        <ul class="image-gallery">
        {% for image in images %}
        <li>
            <img src="{{ url_for('static', path='/MAX_NP01_5_1_SS00790_sNPF_546_Crz_647_1x_LOL.jpg') }}" alt="Thumbnail">
            <div class="overlay">
                <button data-micromodal-trigger="modal-{{loop.index}}">Open Modal Dialog</button>
                <div style="display: block">{{ image.id }}</div>    
            </div>
        </li>
        {% endfor %}
        </ul>
    </div>


{% for image in images %}
<div class="micromodal micromodal-slide" id="modal-{{loop.index}}" aria-hidden="true">
    <div class="micromodal__overlay" tabindex="-{{loop.index}}" data-micromodal-close>
        <div class="micromodal__container" role="dialog" aria-modal="true" aria-labelledby="modal-{{loop.index}}-title">
            <button aria-label="Close modal" data-micromodal-close>X</button>
            <p>
                {{ image }}
            </p>
        </div>
    </div>
</div>
{% endfor %}

<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
<script>
MicroModal.init();
</script> 

</body>
</html>