<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>NGFF Browse</title>
<link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
</head>
<body>

<section>
    <h2>NGFF Browse: {{ data_url }}</h2>
</section>

<div>
    <div class="gallery">

    {% for image in images %}
    <div class="container">
        <img src="{{ url_for('static', path='/MAX_NP01_5_1_SS00790_sNPF_546_Crz_647_1x_LOL.jpg') }}" alt="Thumbnail" />
        <div class="overlay">
            <a href="{{ url_for('views', image_id=image.id) }}">Open</a>
        </div>
        <div class="label">{{ image.id }}</div>
    </div>
    {% endfor %}

    {% for image in images %}
    <div class="container">
        <img src="{{ url_for('static', path='/MAX_NP01_5_1_SS00790_sNPF_546_Crz_647_1x_LOL.jpg') }}" alt="Thumbnail" />
        <div class="overlay">
            <a href="{{ url_for('views', image_id=image.id) }}">Open</a>
        </div>
        <div class="label">{{ image.id }}</div>
    </div>
    {% endfor %}

    {% for image in images %}
    <div class="container">
        <img src="{{ url_for('static', path='/MAX_NP01_5_1_SS00790_sNPF_546_Crz_647_1x_LOL.jpg') }}" alt="Thumbnail" />
        <div class="overlay">
            <a href="{{ url_for('views', image_id=image.id) }}">Open</a>
        </div>
        <div class="label">{{ image.id }}</div>
    </div>
    {% endfor %}

    </div>
</div>

</body>
</html>