<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>NGFF Browse</title>
<link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
</head>
<body>

<section>
    <h2>NGFF Browse: {{ image.id }}</h2>
</section>

<div>
Open with: 
{% for viewer in image.get_compatible_viewers() %}

    <a title="View in {{ viewer.name }}" href="{{ get_viewer_url(viewer) }}" class="icon" target="_blank" rel="noopener noreferrer">
        <img src="{{ url_for('static', path=viewer.icon) }}" class="icon" alt="{{ viewer.name }} icon">
    </a>

{% endfor %}
</div>

<img src="{{ url_for('static', path='/MAX_NP01_5_1_SS00790_sNPF_546_Crz_647_1x_LOL.jpg') }}" alt="MIP" class="full" />

<table>
<tr><td>Path:</td><td><span class="data">{{ image.full_path }}</span></td></tr>
<tr><td>Axes:</td><td><span class="data">{{ image.axes }}</span></td></tr>
<tr><td>Chunk size:</td><td><span class="data">{{ image.chunk_size }}</span></td></tr>
<tr><td>Dimensions (voxels):</td><td><span class="data">{{ image.dimensions_voxels }}</span></td></tr>
<tr><td>Dimensions:</td><td><span class="data">{{ image.dimensions }}</span></td></tr>
<tr><td>Voxel sizes:</td><td><span class="data">{{ image.voxel_sizes }}</span></td></tr>
<tr><td>Compression:</td><td><span class="data">{{ image.compression }}</span></td></tr>
</table>

</body>
</html>